<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="h">
                            <th colspan="7">{{pageTitle}}</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr>
                            <td class="left bold">Page number</td>
                            <td>{{page.number}}</td>
                            <td class="bold">Start flight</td>
                            <td>{{page.startFlight}}</td>
                            <td class="bold">End flight</td>
                            <td>{{page.endFlight}}</td>   
                            <td class="textright"><input type="button" value="Save" /></td>                        
                        </tr>
                    </tbody>
                </table>
             </div>
        </div>                                                                                 
    </div>
</div>